@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
  background-color: #7fffd4;
}
#content {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#content > p {
  text-indent: 100px;
  margin-bottom: 25px;
  text-align: justify;
  line-height: 125%;
  font-family: "Montserrat", sans-serif;
}
#content > h1 ,h2 {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

#list {
  text-indent: 0px;
  margin-bottom: 25px;
  text-align: justify;
  line-height: 125%;
  font-family: "Montserrat", sans-serif;
}
